@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* forza il back to top a tornare in basso */
.md-top {
    background: var(--md-primary-fg-color)!important; 
    border-radius: 100%!important; 
    bottom: .4rem!important; 
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 10%), 0 0.025rem 0.05rem rgb(0 0 0 / 10%)!important; 
    color: var(--md-primary-bg-color)!important; 
    float: right!important; 
    margin: -2.8rem .4rem .4rem!important; 
    outline: none!important; 
    padding: .4rem!important; 
    position: -webkit-sticky!important; 
    position: sticky!important; 
    transform: translateY(0)!important; 
    transition: opacity 125ms,transform 125ms cubic-bezier(.4,0,.2,1),background-color 125ms!important; 
    z-index: 1!important; 
	font-size: 0px!important; 
}
/* gbvitrano per opendatasicilia*/

/* errore 404 centra immagine nella pagina */
.centerimg {
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #fff;*/
  padding-top: 6.5rem;
  padding-bottom: 3rem;
  text-align: center;
  background-image:url(../img/404.gif);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain;
  height: 480px;} 

/* rettangolo info stampa pdf */  
#print-site-banner {border-color: #ff0000!important; border-radius: 10px!important; }

/* Active tab bold & color */
.md-tabs__link {
    font-size: .75rem !important;
}
.md-tabs__link--active {
    font-weight: bold !important;
    color: var(--md-accent-fg-color);
}
.md-tabs__link:hover {
    color: var(--md-accent-fg-color);
}


/* navigation bar active color*/
.md-nav__item .md-nav__link--active {
    font-weight: bold !important;
    color: var(--md-accent-fg-color);
}
.md-nav__item .md-nav__link--active {
    font-weight: bold !important;
    font-size: .75rem !important;
    color: var(--md-accent-fg-color);
}


/* frontpage elements */
.tx-hero h1 {
    font-size: 2.41rem !important;
}
a.md-button.md-button--primary {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: #ffffff;
}
a.md-button.md-button--primary:hover {
    color: #000000;
}
a.md-button.md-button:hover {
    color: #000000;
}


/*Table styling*/
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 0px solid #cccccc;
      text-align: centre;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 0px solid #cccccc;
      text-align: centre;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }


/*Tabbed extension css*/
.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.tabbed-set .highlight {
  background: #ddd;
}
.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}
.tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-size: 120%;
  cursor: pointer;
}
.tabbed-set input {
  position: absolute;
  opacity: 0;
}
.tabbed-set input:nth-child(n+1) {
  color: #333333;
}
.tabbed-set input:nth-child(n+1):checked + label {
    color: #FF5252;
}
.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}


/* Admonition settings option*/
.md-typeset .admonition.settings, .md-typeset details.settings {
    border-left: .22rem solid #448aff;
}
.md-typeset .admonition.settings>.admonition-title, .md-typeset details.settings>.admonition-title, .md-typeset details.settings>summary {
    border-bottom: .1rem solid rgba(236, 243, 255), .1);
    background-color: rgba(236, 243, 255), .1);
}
.md-typeset .admonition.settings>.admonition-title:before, .md-typeset details.settings>.admonition-title:before, .md-typeset details.settings>summary:before {
    color: #448aff;
    content: "settings"}


/* Site width etc.*/
.md-grid {
    max-width: 64rem !important;
}


/* mkdocstrings styling
/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}